extends layout

append body
  h1= title
  p Welcome to PIXI.JS Game
  script(src="javascripts/game/pixi.js")
  script(src="javascripts/game/main.js")
  script(src="javascripts/game/keyboard.js")
  script(src="javascripts/game/collision.js")
