extends layout

append body
  .container
    .jumbotron
      h1= title
      p.lead Welcome to #{title}
  p A simple JavaScript + PIXI.JS game: 
  a(href="game") PIXI Game
  p A test of the Google Maps API:
  a(href="map") Google Map
