extends layout

append body
  .container
    .jumbotron
      h1 #{title} - Simple Arctic Sensor System

    .centered
      h2 The latest measurements
    .centered
      div(id="temperature")
      div(id="pressure")
      div(id="humidity")

  script(src="https://www.gstatic.com/charts/loader.js")
  script(src="javascripts/home/main.js")
