extends layout

append body
  h1= title
  link(rel='stylesheet', href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css")
  .container
    .page-header: h1 Welcome to IoT

    .row
      .buttonRow
        div#primaryMonth
        div#secondaryMonth
        button#clearSecond Clear
        //- select#primaryMonth.selectpicker
        //-   option January
        //-   option February
        //-   option March
        //-   option April
        //-   option May
        //- select#secondaryMonth.selectpicker
        //-   option January
        //-   option February
        //-   option March
        //-   option April
        //-   option May
        //- button#clearSecond.btn.btn.btn-primary(type='button') Clear

  .row
    .col-md-6
      div(id="chartContainer", style="height: 300px; width: 100%;")
    .col-md-6
      div(id="tableContainer")

  script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js")
  script(src="https://www.gstatic.com/charts/loader.js")
  script(src="javascripts/iot/main.js")
  //- this is to assign variable from the router
  //- script(type="text/javascript").
  //-   var local_data = !{JSON.stringify(foo)}