extends layout

append body
  h1= title
  script(src="http://canvasjs.com/assets/script/canvasjs.min.js")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
  .container
    .page-header: h1 Welcome to IoT
    .row
      .buttonRow
        //- small button
        //- button.btn.btn-sm.btn-primary(type='button') LOAD
        button#get.btn.btn-lg.btn-primary(type='button') Load
        button#view.btn.btn-lg.btn-primary(type='button') View
        .btn-group
          .dropdown.btn-lg.btn-primary
            #drop.dropdown-toggle(data-toggle='dropdown') Dropdown
              span.caret
            ul.dropdown-menu()
              li
                a(href='#') January
              li
                a(href='#') February
              li
                a(href='#') March
              li
                a(href='#') April
              li
                a(href='#') May


  .row
    .col-md-6
      div(id="chartContainer", style="height: 300px; width: 100%;")
    .col-md-6
      div(id="tableContainer")

  script(src="javascripts/iot/main.js")
  //- this is to assign variable from the router
  //- script(type="text/javascript").
  //-   var local_data = !{JSON.stringify(foo)}