extends layout

append body
  h1= title
  link(rel='stylesheet', href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css")
  .container
    .page-header: h1 Welcome to IoT

    .row
      .buttonRow
        div#primaryMonth.alignButton
        div#secondaryMonth.alignButton
        button#clearSecond.alignButton Clear

    .row
      .col-md-8
        div(id="chartContainer", style="height: 300px; width: 100%;")
      .col-md-4
        div(id="tableContainer")

  script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js")
  script(src="https://www.gstatic.com/charts/loader.js")
  script(src="javascripts/iot/main.js")
