extends ../node_modules/jade-bootstrap/_bootstrap
append styles
	// Custom styles for this template
	link(href='/stylesheets/style.css', rel='stylesheet')
block body
	+navbar("IoT","dropdown-menu","inverse")
		+nav_item("/") Home
		+nav_item("map") Location
		+nav_item("iot") Temperature
	

