extends ../node_modules/jade-bootstrap/_bootstrap
append styles
	// Custom styles for this template
	link(href='/stylesheets/style.css', rel='stylesheet')
block body
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
	+navbar("SASS","dropdown-menu","inverse")
		+nav_item("/") Today
		+nav_item("map") Location
		+nav_item("iot") Temperature
		+nav_item("stats") Statistics

