extends layout

append body
  h1= title
  p Welcome to Google Maps API
  button#black(
    type='button'
    style='width: 25px; height: 25px;'
    onclick="newPositionOne()"
  )
  p This map should focus on Tromsø
  div#map(style="width:400px;height:400px")
  script(src="javascripts/map/main.js")
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmY343-y1IirBm2CQtRdk9q04stiSMUG8&callback=initMap")