extends layout

append body
  h1= title
  link(rel='stylesheet', href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css")

  .container
    .page-header: h1 All of the data from the device
    div#mySelectDiv
    div#table

  script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js")
  script(src="https://www.gstatic.com/charts/loader.js")
  script(src="javascripts/stats/main.js")